html
    head
        meta(charset='utf-8')
    title
    body
        form(action='/form_receiver' method='post')
            p
            input(type="text" name='id')
            p
            input(type="password" name='pw')
            p
            input(type="submit")